<section>
    <ul>
        <li>Número do Crédito</li>
        <li>Número NFse</li>
        <li>Data de Constituição</li>
        <li>Valor ISSQN</li>
        <li>Tipo de Crédito</li>
        <li>Simples Nacional</li>
        <li>Alíquota</li>
        <li>Valor Faturado</li>
        <li>Valor de Dedução</li>
        <li>Base de cálculo</li>
        <li>
            <button>
                <img src="pencil-square.png" alt="">
            </button>
            <button>
                <img src="trash.png" alt="">
            </button>
        </li>
        
    </ul>
</section>
